<div class="container">
  <h1 class="mb-4">Dashboard</h1>
  <div class="row">
    <div class="col-md-4">
      <div class="card text-white bg-primary mb-3">
        <div class="card-body">
          <h5 class="card-title"><i class="fas fa-users"></i> {{numberOfEmployees}} Employees</h5>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-white bg-success mb-3">
        <div class="card-body">
          <h5 class="card-title"><i class="fas fa-tasks"></i> 15 Projects</h5>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-white bg-danger mb-3">
        <div class="card-body">
          <h5 class="card-title"><i class="fas fa-user-friends"></i> 23 Clients</h5>
        </div>
      </div>
    </div>
  </div>
</div>
